[submodule "docker/libs/IsaacLab"]
	path = docker/libs/IsaacLab
	url = https://github.com/hyyyyyyz/IsaacLab.git
[submodule "deploy/deploy_real"]
	path = deploy/deploy_real
	url = https://github.com/hyyyyyyz/deploy_real.git
